.aboutus-section{
    width: 100%;
    padding: 2rem 0rem;
    background-color: #f8f8f8;
    padding: 4rem 0;
}

.aboutus-image{
    width: 40vw;
    height: 40vh;
}

.aboutus-image img{
    width: 80%;
    height: 100%;
}

.aboutus-text{
    width: 50%;
}

.aboutus-text h1{
    margin-bottom: 2rem;
}


@media screen and (max-width: 800px) {
    .aboutus-image{
        display: none;
    }
    .aboutus-text{
        width: 100%;
    }
}
